body{
  background-color: green;
}
.contents{
  text-align: center;
  color: blue;
  font-size: 0.5in;
}

.contents:hover{
  color: gold;
  background-color: yellow;
}

#Meeting{
  color: 0xFFFFFFFF;
  text-decoration: underline;
  font-size: 1 ex;
  line-height: 10 em;
}
* {
  font-family: 'Fuzzy Bubbles', cursive;
}
h3{
  color: rgb(120, 50, 0);
  font-size: 0.5cm;
  line-height: 0.8cm;
 
}
h3:active{
  background-color: orange;
}
#prev{
  font-size: 1ch;
  color: hsl(20, 25, 10);
}
#p1{
   width: 1000px;  
   height: 70px;
   margin-top : 1;
   margin-bottom: 1;
   margin-left: 0.5;
   margin-right: 0.5;
   padding-top: 1;
   padding-bottom: 1;
   padding-left: 10;
   padding-right: 0.5;
   border-color: black;
   border-style: solid;
   border-width: 1px;
   border-radius: 25% 10%;
}
a[href^="#"]{
  background-color: gold;
}
#p2{
  margin: 1 1 0.5 0.5;
  padding: 1 0 0 0.5;
  border: 1px solid gold;
}
#p3 #p4{
  max-width: initial;
  max-width: initial;
}
#block1{
  display: block;
  position: static;
}
#block2{
  display: inline-block;
  position: fixed;
}
.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 35px;
}
@media screen and (max-width:650px) {
        body {
            text-align: center;
            background-color: red;
        }
}
.descendant p{
  background-color: white;
}
#child > p{
  background-color: blue;
}
.adjacent + p_adj{
  color: black;
}
.general ~ .p-sib{
  color: lightblue;
}
